* {
  background-color: rgb(211, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: inline;
  width: 100%;
  font-size: 2rem;
}

#title {
  display: block;
  text-align: center;
  margin: 1rem;
}

#grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;
  border: "1px solid black";
}

#control-panel {
  display: grid;
  margin-bottom: 1rem;
}

#change-grid-size-button {
  width: 500px;
  margin: auto;
  background-color: rgb(250, 194, 194);
}

#reset-button {
  width: 500px;
  margin: auto;
  background-color: rgb(250, 194, 194);
}

.grid-unit {
  border: thin solid black;
  background-color: rgb(250, 194, 194);
}