header {
  display: inline;
  width: 100%;
}

#title {
  display: block;
  text-align: center;
  margin: 1rem;
}

#grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  margin: auto;
  border: "1px solid black";
}

#control-panel {
  display: grid;
  margin-bottom: 1rem;
}

#change-grid-size-button {
  width: 500px;
  margin: auto;
}

#reset-button {
  width: 500px;
  margin: auto;
}

.grid-unit {
  border: thin solid black;
}